/*导航*/
.main{
	margin:0 auto;
	padding:10px;
	display: table;
	width:70%;
	background-color: #f8f8f8;
	border-radius: 3%;
}

.item{
	display: table;
	padding-bottom: 15px; 
	width:99%;
}

.item img{
	border-radius: 50%;
	height:33px;

}
.item .time .showtime{
	font-size: 10px;

}

.item .time .workrank{
	font-size: 20px;
	color:red;

}
.nav_login{
	float:right;
	margin-left: 10px;
	margin-top:8px;
}

.navbar-blue{
	background-color:#3399FF; 
}
ul.navbar-right{
	list-style: none;
}
.navbar-brand{
	color:#FFF;
	font-size:24px;
}
.container>.navbar-header{
	float:left;
}
.main_login{
	width:50%;	
}
.center{
	text-align: center;
}
/*person*/ 



